*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url(fonts/JetBrainsMono-Regular.ttf);
    src: url(fonts/JetBrainsMono-Regular.woff2);
}

:root {
    font-family: 'Jetbrains Mono', monospace;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}
::-webkit-scrollbar-track {
    background-color: #292933;
}

::-webkit-scrollbar-thumb {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    background-color: #292933;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    place-items: center;
}

.logo a {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
}

.menubar {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #1a1a1a;
    border: solid 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: sticky;
    z-index: 100;
}

.menubar a {
    color: rgb(190, 190, 190);
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(26, 26, 26);
    border: solid 0px;
    border-radius: 2rem;
    transition: 200ms;
}

.menubar a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 51);
}

.heading-block {
    margin: 5rem;
    padding: 1rem;
    border: 0px solid;
    border-radius: 1rem;
    width: 35rem;
    height: fit-content;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #111111 0rem 0rem 2rem;
    transition: transform 200ms ease-in-out;
}

.heading-block h1 {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.info-block {
    margin: 5rem;
    padding: 1rem;
    border: 0px solid;
    border-radius: 1rem;
    width: 35rem;
    height: fit-content;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #111111 0rem 0rem 2rem;
    transition: transform 200ms ease-in-out;
}

.info-block h1 {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.info-block p {
    padding: 1rem;
}

.id-block {
    margin: 5rem;
    padding: 0rem;
    background-color: #1a1a1a;
    border: 0px solid;
    border-radius: 1rem;
    width: 50rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.id-block img {
    width: fit-content;
    height: inherit;
    border: 0px solid;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.id-block-text {
    margin: 1rem;
}

.image-block {
    margin: 5rem;
    padding: 0rem;
    border: 0px solid;
    border-radius: 1rem;
    width: 35rem;
    height: fit-content;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #111111 0rem 0rem 2rem;
}

.image-block img {
    margin: 0rem;
    width: inherit;
    height: fit-content;
    border: 0px solid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.image-block h1 {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.image-block p {
    padding: 1rem;
}

.video-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: (2, 1fr);
    place-items: center;
    margin-bottom: 5rem;
}

.video {
    border: solid 0px;
    border-width: 0;
    border-radius: 1rem;
    margin: 2.5rem;
    box-shadow: #111111 0rem 0rem 2rem;
    width: 35rem;
    height: 19.6875rem;
}

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12rem;
    margin-top: auto;
    bottom: 0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
}

.footer-heading {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    margin: 1rem;
}

@media (orientation: portrait), (max-width: 720px) {
    :root {
        font-size: 10px;
    }

    .video-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .id-block {
        width: 35rem;
    }
}

@media (orientation: landscape), (min-width: 720px) {
    :root {
        font-size: 16px;
    }

    .info-block:hover {
        transform: translateY(-1rem);
    }

    .video-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .id-block {
        width: 50rem;
    }
}