*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url(fonts/JetBrainsMono-Regular.ttf);
    src: url(fonts/JetBrainsMono-Regular.woff2);
}

:root {
    font-family: 'Jetbrains Mono', monospace;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}
::-webkit-scrollbar-track {
    background-color: #292933;
}

::-webkit-scrollbar-thumb {
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    background-color: #292933;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubar {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    place-items: center;
}

.menubar a {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.info-block {
    margin: 5rem;
    padding: 1rem;
    border: 0px solid;
    border-radius: 1rem;;
    width: 35rem;
    height: fit-content;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #111111 0rem 0rem 2rem;
    transition: transform 200ms ease-in-out;
}

.info-block h1 {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.info-block p {
    padding: 1rem;
}

.info-block:hover {
    transform: translateY(-1rem);
}

.footer {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
}

.footer-heading {
    background: linear-gradient(90deg, #00ffff 25%, #8000ff 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons {
    margin: 1rem;
}

@media (orientation: portrait), (max-width: 720px) {
    :root {
        font-size: 10px;
    }
}

@media (orientation: landscape), (min-width: 720px) {
    :root {
        font-size: 16px;
    }
}